@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f1f2f3;
	--blue-color: #4b5efc;
	--btn: #ffffff;
	--light-grey: #d2d3da;
	--text-color: "#000000";
}

[data-theme="dark"] {
	--background: #17171c;
	--blue-color: #4b5efc;
	--btn: #2e2f38;
	--light-grey: #4e505f;
	--text-color: "#FFFFFF";
}
